body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250vh;
    margin: 10;
}

.container {
    border: 1px solid rgb(3, 112, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.totals {
    margin-top: 100px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
}

#netSalary {
    font-size: 18px;
    font-weight: bold;
}
